html, body{
    color:black;
}
.background{
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636bcd;
}

a{
    margin-right: 12px;
    text-decoration: none;
    color: black;

}
.punchline{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
p{
    font-size: 40px;
}