html, body{
    color:black;
}
.background{
background-image: url("img.png");
    background-size: cover;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636bcd;
    height: 80px;
}

a{
    margin-right: 12px;
    text-decoration: none;
    color: black;

}
.punchline{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}
p{
    font-size: 40px;
    margin-bottom: 0;
    ;
}